@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #02021E;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #ec947a;
  transition: 0.3s;
}

.container .starsContainer div {
  position: absolute;
  border-radius: 50%; 
}

.uranusPlanet {
  height: 60px;
  width: 60px;
  margin: 100px -150px;

  background: linear-gradient(320deg, #68a3e2 20%, #fff 80%);
}

.neptunePlanet {
  height: 44px;
  width: 44px;
  margin: 180px 880px;

  background: linear-gradient(40deg, #02021E 20%, #7996EC 80%);
}

.oneBigStar {
  height: 3px;
  width: 3px;
  margin: 350px -150px;

  background: #fff;
  opacity: 0.8;
}

.container .starsContainer .litteStars div {
  height: 1px;
  width: 1px;

  background: #fff;
  opacity: 0.5;
}

.container .starsContainer .litteStars .one {
  margin: 220px -100px;
}
.container .starsContainer .litteStars .two {
  margin: 800px -100px;
}
.container .starsContainer .litteStars .three {
  margin: 530px 250px;
}
.container .starsContainer .litteStars .four {
  margin: 650px 160px;
}
.container .starsContainer .litteStars .five {
  margin: 700px 480px;
}
.container .starsContainer .litteStars .six {
  margin: 320px 840px;
}
.container .starsContainer .litteStars .seven {
  margin: 760px 900px;
}
