@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #02021E;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #ec947a;
  transition: 0.3s;
}

.whiteCircle {
  position: absolute;
  height: 60px;
  width: 60px;
  margin: 100px -150px;

  border-radius: 50%;

  background: linear-gradient(320deg, #68a3e2 20%, #fff 80%);
}